extends layout

block variables
  -var title = "About"

block content
  h2.text-center About
  
  .row
  .offset-sm-2.col-sm-8
    .jumbotron.text-center.
      This website will be doing things and stuff, hopefully useful stuff
      img.className#IdName(src="public/images/pepe.jpg" alt = "pepe")
      
