extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Some sort of website
  
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to some sort of website, built so i can learn how to do front end stuff
