extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Some sort of website
  
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        This is some sort of website, it will do some things
